//Form styles
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  @include input-text;
  @include input-style;
}
div.wpcf7 textarea {
  height: 170px;
  border: 1px solid #221f1f;
  background-position: 16px 9px;
  background-image: url("../iconsall/form-textarea.png");
}
div.wpcf7 select {
  -webkit-appearance: none;
  background-image: url("../iconsall/form-select.png");
  padding-right: 15px;
  padding-left: size(25);
  background-position: 12px center;
  background-size: size(19);
  margin-bottom: 10px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
  background-size: size(18);
}
.form-company-col {
  div.wpcf7 input[type="text"] {
	padding-right: 15px;
	padding-left: 15px;
	background-image: none;
  }
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  background-color: $yellow-main;
  color: $title-color;
  font-size: size(20);
  line-height: size(18);
  text-align: center;
  white-space: normal;
  font-weight: 700;
  background-position: 7px center;
  background-size: size(30);
  padding: 0 8px 0 size(45);
  background-image: url("../iconsall/form-submit.png");
  transition: transform .5s;
  &:hover {
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
}
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
.footer-main {
  div.wpcf7 input[type="submit"] {
	background-color: #1c1c1c;
	color: #ffffff;
	background-image: url("../iconsall/form-submit-white-rtl.png");
	&:hover {
	  transform: scale(0.95, 0.95);
	  transition: transform .5s;
	}
  }
}
.form-title-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.form-title, .form-subtitle {
  color: #ffffff;
  text-align: center;
}
.form-title {
  @include base-title;
  font-weight: 700;
  margin-bottom: 13px;
}
.form-subtitle {
  @include mid-title;
  font-weight: 400;
  margin-bottom: 40px;
}
.acceptance-col {
  margin-top: -20px;
  label {
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
  }
  input[type="checkbox"] {
	width: 14px;
	min-width: 14px;
	margin-left: 6px;
  }
  span {
	color: #000000;
	font-size: size(20);
	line-height: size(22);
	text-align: right;
  }
  .wpcf7-list-item {
	margin: 0;
  }
}
.form-wrapper {
  span {
	color: #ffffff;
  }
}
.repeat-form-block {
  position: relative;
  margin: 50px 0 0 0;
  @include back-img;
  background-image: url("../img/form-back.png");
  padding: size(50) 0;
}
.overlay-form {
  @include overlay;
  background-color: rgba(0, 0, 0, 0.38);
}
.form-container-top {
  position: relative;
  z-index: 9;
}
