header {
  box-shadow: 0 10px 38px 4px rgba(33, 48, 74, 0.23);
  background-color: #ffffff;
  padding: size(25) 0;
}
.icon-margin {
  margin: 0 7px;
}
#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-start;
	  align-items: center;
	  position: relative;
	  margin: 0 10px;
	  a{
		@include base-text;
		color: $title-color;
		text-align: center;
	  }
	}
  }
}
.pop-form, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-search {
  position: relative;
  width: 100%;
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateX(-100%);
  overflow-y: auto;
  opacity: 0;
  padding: 57px;
  &.show-float-form{
	opacity: 1;
	transform: translateX(0);
  }
}
.form-wrapper-pop {
  position: relative;
  @include d-center;
  flex-direction: column;
  box-shadow: 0 3px 57px rgba(0, 0, 0, 0.6);
  background-color: #221f1f;
  padding: size(43) 10%;
}
.close-form, .close-form-search {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  @include d-center;
  img {
	width: 15px;
	height: 15px;
  }
}
.search-form {
  @include d-center;
  input[type="search"] {
	@include input-style;
	@include input-text;
	flex-grow: 1;
	height: 2rem;
	border-radius: 0;
  }
  input[type="submit"] {
	width: 2rem;
	height: 2rem;
	background-color: $yellow-main;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.2rem;
	background-image: url("../iconsall/search.png");
	transition: transform .5s;
	&:hover {
	  transform: scale(0.95, 0.95);
	  transition: transform .5s;
	}
  }
}
@mixin tel-text {
  font-size: size(20);
  line-height: 20px;
  text-align: center;
  color: $title-color;
  font-weight: 500;
  transition: color .5s;
}
.langs-wrap {
  @include d-center;
  transition: background-color .5s;
  &:hover {
	li a {
	  color: $yellow-main;
	  transition: color .5s;
	}
  }
  li.active {
	display: none;
  }
  li a {
	@include tel-text;
	text-transform: uppercase;
  }
}
.header-tel {
  span {
	@include tel-text;
  }
  img {
	display: none;
  }
  &:hover span {
	color: $yellow-main;
	transition: color .5s;
  }
}
.header-btn {
  img {
	width: size(32);
  }
}
.search-trigger {
  img {
	width: size(29);
  }
}
.trigger-item {
  position: fixed;
  left: 15px;
  bottom: 20%;
  z-index: 99;
  width: size(67);
  background-image: url("../img/pop-back.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.pop-trigger-text {
  color: $title-color;
  font-size: size(33);
  font-weight: 700;
  padding: 30px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

//Footer
.footer-main {
  position: relative;
  padding-top: 80px;
  padding-bottom: 50px;
  background-color: #eeb116;
  background-image: url("../img/footer-back.png");
  @include back-img;
}
.foo-menu {
  padding-top: 63px;
}
.foo-title {
  color: #000000;
  font-size: size(24);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(28);
  margin-bottom: 27px;
}
.facebook-widget {
  display: flex;
  align-items: baseline;
  img {
	width: size(34);
	margin: 0 7px;
  }
}
footer {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a, span {
	  display: flex;
	  font-size: size(18);
	  line-height: size(20);
	  margin-bottom: 10px;
	  color: #000000;
	  transition: color .5s;
	  &:before {
		content: '>';
		padding-left: 4px;
	  }
	  &:hover {
		color: #000000;
		transition: color .5s;
	  }
	}
  }
}
.contacts-footer-menu li a:before, .contacts-footer-menu li span:before  {
  content: '';
  padding: 0 !important;
}
.two-columns {
  column-count: 2;
  column-gap: 1rem;
}
#go-top {
  position: absolute;
  top: 15px;
  right: 5%;
  @include d-center;
  cursor: pointer;
  z-index: 999;
  svg {
	width: size(64);
	height: size(64);
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.foo-form-title, .foo-form-subtitle {
  color: $title-color;
  text-align: center;
  line-height: size(40);
}
.foo-form-title {
  font-size: size(36);
  font-weight: 700;
  margin-bottom: 6px;
}
.foo-form-subtitle {
  font-size: size(38);
  font-weight: 400;
  margin-bottom: 40px;
}
.header-socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.social-item {
  @include d-center;
  margin: 0 4px;
  img {
	width: size(27);
  }
}
.logo {
  @include d-center;
  img {
	max-height: 42px;
  }
}
