//Faq
.faq {
  margin: 100px 0;
  .card {
	border: none !important;
  }
  .question-card {
	margin-bottom: 16px;
	border-radius: 0 !important;
  }
  .question-title {
	display: flex;
	align-items: center;
	width: 100%;
	border: none !important;
	min-height: size(71);
	background: transparent;
	padding: 0;
	&:after {
	  content: '+';
	  display: flex;
	  justify-content: center;
	  align-items: flex-start;
	  padding-top: 25px;
	  position: absolute;
	  left: 20px;
	  font-family: $almoni-tzar;
	  font-size: size(50);
	  font-weight: 700;
	  font-style: normal;
	  letter-spacing: normal;
	  line-height: size(36);
	  color: $title-color;
	  text-align: center;
	  transition: color .5s;
	  top: 0;
	  height: 100%;
	}
  }
}
.question-title-q {
  display: flex;
  width: 100%;
  position: relative;
  font-size: size(20);
  line-height: size(22);
  font-family: $almoni;
  color: $title-color;
  text-align: right;
  padding: 5px 40px 5px 40px;
  transition: color .5s;
}
.answer-body {
  padding: 0 100px 21px 30%;
  * {
	transition: color .5s;
  }
}
.question-header {
  position: relative;
  //display: flex;
  overflow-x: hidden;
  background-color: #ffffff;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.25);
  border-radius: size(35);
  transition: background-color .5s;
  &.active-faq {
	box-shadow: unset;
	background-color: $title-color;
	transition: background-color .5s;
	.question-title:after {
	  content: '-';
	  color: #ffffff;
	  transition: color .5s;
	}
	.faq-icon {
	  background-color: $title-color;
	  transition: background-color .5s;
	}
	.question-title-q, .answer-body * {
	  color: #ffffff;
	  transition: color .5s;
	}
  }
}
.faq-icon {
  @include d-center;
  min-width: 62px;
  height: 100%;
  width: 62px;
  background-color: $yellow-main;
  padding: 19px;
  transition: background-color .5s;
}
//Slider
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: size(21);
	height: size(35);
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-dark-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-dark-right.png");
  }
  .slick-prev:before, .slick-next:before {
	color: transparent;
  }
}
.arrows-slider-base {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: size(38);
	height: size(38);
	border-radius: 50%;
	background-color: $yellow-main;
	background-size: size(13);
	z-index: 33;
	top: calc(100% + 2rem);
  }
  [dir="rtl"] .slick-next {
	left: 0;
	right: unset;
  }
  [dir="rtl"] .slick-prev {
	right: unset;
	left: 4rem;
  }
}
.base-slider-block {
  position: relative;
  padding: 90px 0;
}
.slider-img-col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
	width: 100%;
	border-radius: size(35);
	box-shadow: 0 3px size(35) rgba(0, 0, 0, 0.25);
  }
}
.post-gallery-arrows {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	width: 21px;
	height: 21px;
	background-color: #000000;
	background-size: 8px;
	top: calc(100% + 1rem);
  }
  [dir="rtl"] .slick-next {
	left: 20px;
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	right: 20px;
	left: unset;
	background-image: url("../iconsall/arrow-right.png");
  }
}
//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
.video-item {
  position: relative;
  @include d-center;
  @include back-img;
  border-radius: 23px;
  background-color: $title-color;
  overflow: hidden;
  width: 100%;
  &:after {
	content: '';
	display: block;
	padding-bottom: 57%;
  }
  img {
	width: 13%;
  }
}
.put-video-here {
  @include overlay;
  pointer-events: none;
  z-index: 9999;
  &.show {
	pointer-events: auto;
  }
  iframe {
	width: 100%;
	height: 100%;
  }
}
.play-video, .play-button {
  @include overlay;
  @include d-center;
  cursor: pointer;
}
//Clients
.clients-block {
  padding: 65px 0;
}
.clients-line {
  .slick-list, .slick-track {
	display: flex !important;
  }
}
.client-logo {
  @include d-center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  img {
	max-height: size(185);
  }
}

//Post card
.post-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.post-item-image {
  position: relative;
  width: 78%;
  background-color: #e1dfdf;
  @include back-img;
  &:after {
	display: block;
	content: '';
	padding-bottom: 83%;
  }
  &:hover .post-img-overlay {
	opacity: 0;
	pointer-events: none;
	transition: opacity .5s;
  }
}
.post-card-content-wrap {
  box-shadow: 7px 2px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  background-color: #ffffff;
  padding: 11%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.post-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.post-item-title {
  font-size: size(23);
  font-weight: 700;
  line-height: size(22);
  margin-bottom: 28px;
}
.post-item-title, .post-item-text {
  color: $title-color;
  text-align: center;
}
.post-item-text {
  @include small-text;
  margin-bottom: 45px;
}
.post-col {
  margin-bottom: 24px;
}
.put-here-posts {
  .post-col {
	margin-bottom: 62px;
  }
}
.post-link {
  @include d-center;
  position: relative;
  font-size: size(20);
  line-height: size(22);
  font-weight: 700;
  text-align: center;
  color: #e0a00e;
  padding: 0 14px;
  &:after {
	position: absolute;
	left: 3px;
	content: '';
	display: block;
	background-size: contain;
	width: 8px;
	height: 14px;
	background-image: url("../iconsall/arrow-left.png");
	background-repeat: no-repeat;
	transition: left .5s;
  }
  &:hover {
	color: #e0a00e;
	&:after {
	  left: 0;
	  transition: left .5s;
	}
  }
}
.home-posts {
  .post-img-overlay {
	display: none;
  }
}
.post-img-overlay {
  @include overlay;
  cursor: pointer;
  background-color: rgba(237, 177, 16, 0.47);
  transition: opacity .5s;
}
//Categories page
.main-cat-col {
  padding: 0 5px;
  margin-bottom: 30px;
}
.main-cat-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.28);
  border-radius: 35px;
  background-color: #ffffff;
  overflow: hidden;
}
.main-cat-img {
  display: flex;
  width: 100%;
  background-size: auto 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  &:after {
	display: block;
	content: '';
	padding-bottom: 55.6%;
  }
}
.h-cat-name-wrap {
  @include d-center;
  min-height: size(59);
  flex-grow: 1;
  width: 100%;
  padding: 10px 50px;
  background-color: $yellow-main;
  position: relative;
  &:after {
	content: '';
	position: absolute;
	width: size(43);
	height: size(43);
	border-radius: 50%;
	left: 11px;
	@include d-center;
	background-color: $title-color;
	background-size: size(14);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../iconsall/arrow-left.png");
  }
}
.h-cat-name-title {
  color: $title-color;
  font-size: size(25);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(29);
  text-align: center;
}
