.woocommerce-loop-product__title {
  color: $title-color;
  font-size: size(20);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: color .5s;
  &:hover {
	color: $yellow-main;
	transition: color .5s;
  }
}
.product-small-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 10px;
  .woocommerce-loop-product__link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .onsale {
	position: absolute;
	right: -1rem;
	top: 0;
	border-radius: 90%;
  }
  .top-wrap {
	display: flex;
  }
  .bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 22px;
  }
  .top {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 7px 2px 20px 1px rgba(0, 0, 0, 0.1);
	border-radius: size(35);
	background-color: #ffffff;
	overflow: hidden;
	img {
	  //max-height: 100%;
	  width: auto;
	}
  }
  .add_to_cart_button, .added_to_cart {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 999;
	background-color: #221f1f;
	text-align: center;
	color: $yellow-main;
	width: 100%;
  }
  .added_to_cart {
	z-index: 99991;
  }
}
.woocommerce div.product form.cart .single_add_to_cart_button {
  background-color: #221f1f;
  text-align: center;
  color: $yellow-main;
  display: flex;
  align-items: center;
  min-height: 26px;
  font-size: size(15);
  line-height: size(14);
  border-radius: 12px;
  padding: 5px size(24);
  img {
	width: size(15);
	margin: 0 4px;
  }
}

.gallery-slider-wrap {
  display: flex;
  .slick-dotted.slick-slider {
	margin-bottom: 0;
  }
  .slick-dots {
	bottom: unset;
	top: calc(100% + 10px);
	width: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
  }
  .slick-dots li button:before {
	color: $title-color;
  }
}
.gallery-slider {
  flex: 0 0 75%;
  max-width: 75%;
  &.slick-slider .slick-track, &.slick-slider .slick-list {
	height: 100%;
  }
}
.thumbs {
  flex: 0 0 25%;
  max-width: 25%;
  &.slick-slider .slick-track, &.slick-slider .slick-list {
	//height: 100% !important;
  }
}
.big-slider-item {
  position: relative;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  height: 100%;
}
.pad-3 {
  padding: 5px;
}
.big-slider-item, .thumb-item {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  border-radius: size(35);
  overflow: hidden;
}
.thumb-item {
  @include d-center;
}
//.cart-animation-helper {
//  margin: 0 20%;
//  width: 0;
//  height: 0;
//  z-index: 999999999999999;
//  position: absolute;
//  &:after{
//	opacity: 0;
//	border-radius: 0;
//	max-height: 19px;
//	max-width: 19px;
//	content: '';
//	position: absolute;
//	bottom: 0;
//	left: 0;
//	right: 0;
//	margin: 0 auto;
//	display: block;
//	height: 19px;
//	width: 19px;
//	background-color: #ffffff;
//
//	transition:
//			transform 0.8s ease-out,
//			margin 0.8s ease-out,
//			opacity 0.8s ease-out,
//			border-radius 0.4s ease-out,
//			max-height 0.4s ease-out,
//			max-width 0.4s ease-out;
//  }
//}
.woocommerce-message::before {
  color: $yellow-main;
}
.woocommerce-message {
  border-top-color: $yellow-main;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  background-color: $title-color;
  color: $yellow-main !important;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
  margin: 0;
  border-top-color: $yellow-main;
  background-color: $yellow-main;
  &:before {
	color: $title-color;
  }
}
.return-to-shop {
  margin-top: 2rem;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  background-color: $title-color;
}
.woocommerce table.shop_table td {
  border-top: 1px solid $title-color;
}
.woocommerce table.shop_table {
  border: 1px solid $title-color;
}
.cart-page-body {
  input[type="number"] {
	background-color: transparent;
  }
}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background: $title-color;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
  float: unset;
  width: 100%;
}
.socials-share {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
  .base-text {
	font-weight: 500;
  }
  .social-share-link {
	margin: 0 4px;
	img {
	  width: 22px;
	}
  }
}
.prod-body-back {
  background-color: #ebebeb;
  padding-bottom: 90px;
}
.product-main-body {
  padding-top: size(128);
}
.mob-prod-title {
  display: none;
}
.qty-wrap {
  overflow: hidden;
  display: flex;
  margin: 0 10px;
  height: 25px;
  border-radius: 12px;
  input, .plus, .minus {
	width: 26px;
	height: 26px;
	flex: auto;
	cursor: pointer;
	font-size: size(16);
	line-height: size(20);
	font-weight: 400;
	text-align: center;
	color: $title-color;
	background-color: transparent;
  }
  .plus, .minus{
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .5s;
	background-color: #221f1f;
	color: $yellow-main;
  }
  input {
	background-color: #ffffff;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
	-moz-appearance:textfield; /* Firefox */
  }
}
.woocommerce div.product form.cart div.quantity {
  display: flex;
  float: unset;
  margin: 0;
}
.woocommerce div.product form.cart {
  margin: 1rem 0 0 0;
}
.qty-text {
  @include base-text;
  margin-bottom: 0;
  font-weight: 500;
  color: $title-color;
}
.woocommerce div.product .prod-body-back form.cart {
  display: flex;
  flex-wrap: wrap;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: $title-color;
  opacity: 1 !important;
  line-height: size(25);
  ins {
	text-decoration: none !important;
	font-weight: 700;
	font-size: size(25);
  }
  del {
	opacity: 1 !important;
	font-size: size(22);
  }
}
.woocommerce div.product .product-small-card p.price, .woocommerce div.product .product-small-card span.price {
  ins, del {
	font-size: size(21);
  }
}
.price-custom {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.woocommerce span.onsale, span.onsale {
  background-color: $yellow-main;
  color: #ffffff;
  @include mid-title;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  transform: rotate(45deg);
  padding: 30px 18px;
  left: unset;
}
.woocommerce .woocommerce-breadcrumb {
  margin: 0;
}
.back-color-custom {
  background-color: #ebebeb;
}
