/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


@media (min-width: 1920px) {
  .query-product-list {
	.product-small-card  .woocommerce-loop-product__link {
	  padding: 40px 0;
	}
  }
  .services-slider-block {
	margin-top: -7rem;
  }
}
@media (min-width: 1600px) {
  .social-item {
	margin: 0 8px;
	img {
	  width: size(32);
	}
  }
  .why-item {
	padding: 0 15%;
  }
  .col-none-contact {
	display: block;
  }
  .col-xxl-3 {
	flex: 0 0 25%;
	max-width: 25%;
  }
  div.wpcf7 input[type="submit"] {
	font-size: size(28);
	line-height: size(24);
  }
  .main-home-output {
	h1, h2 {
	  font-size: size(65);
	  line-height: size(73);
	  margin-bottom: size(39);
	}
	h3 {
	  font-size: size(49);
	  line-height: size(53);
	  margin-bottom: size(30);
	}
	h4 {
	  font-size: size(40);
	  line-height: size(43);
	  margin-bottom: size(25);
	}
	h5 {
	  font-size: size(35);
	  line-height: size(40);
	  margin-bottom: size(20);
	}
	h6 {
	  font-size: size(30);
	  line-height: size(33);
	  margin-bottom: size(15);
	}
  }
}
//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
  .container {
	max-width: 76%;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  div.wpcf7 input[type="submit"] {
	font-size: size(28);
	line-height: size(24);
  }
  .pop-trigger-text {
	font-size: size(23);
	padding: 25px;
  }
  .services-slider-block {
	margin-top: -6rem;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) and (min-width: 576px) {
  .home-posts {
	.post-col-base {
	  flex: 0 0 33.33%;
	  max-width: 33.33%;
	}
	.post-card-content-wrap {
	  border-radius: 25px;
	  padding: 15px;
	}
	.post-item-title {
	  font-size: size(18);
	  line-height: size(20);
	  margin-bottom: 8px;
	}
	.post-item-text {
	  font-size: size(14);
	  line-height: size(26);
	  margin-bottom: 15px;
	}
	.post-link {
	  font-size: size(16);
	  line-height: size(18);
	  padding: 0 10px;
	  &:after {
		width: 5px;
		height: 8px;
	  }
	}
  }
}
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .header-socials {
	position: fixed;
	left: 0;
	z-index: 988;
	top: 20%;
	flex-direction: column;
  }
  .social-item {
	margin: 3px 8px;
  }
  .contact-col {
	margin-top: 2rem;
  }
  .why-item {
	padding: 0 25%;
  }
  .services-slider-block {
	margin-top: -7rem;
  }
  .col-content-home {
	padding-bottom: 3rem;
	padding-top: size(150);
  }
  .video-col-shop {
	margin: 1rem 0;
  }
  .mob-prod-title {
	display: block;
  }
  .desctop-title {
	display: none;
  }
  .product-page-gal-col {
	order: 2;
	margin-bottom: 2rem;
  }
  .product-page-info-col {
	order: 3;
  }
  .post-image-wrap, .post-slider-wrap {
	width: 100%;
	float: unset !important;
	margin: 0 0 3rem 0 !important;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  .slider-img-col {
	margin-bottom: 1rem;
  }
  .answer-body {
	padding: 0 100px 21px 100px;
  }
  .header-tel {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 928;
	@include d-center;
	border-radius: 50%;
	box-shadow: 0 10px 38px 4px rgba(33, 48, 74, 0.23);
	background-color: $yellow-main;
	width: 2.5rem;
	height: 2.5rem;
	animation: jump 1.2s ease-in-out alternate infinite;
	span {
	  display: none;
	}
	img {
	  display: block;
	  width: 1.25rem;
	}
  }
  .col-none {
	padding: 0;
	flex: 0 0 100%;
	max-width: 100%;
	order: 4;
  }
  .col-ordering {
	order: 2;
  }
  .logo {
	padding-right: 50px;
  }
}
@media (min-width: 769px) {
  header {
	#MainNav ul.sub-menu {
	  display: none;
	  position: absolute;
	  top: 100%;
	  z-index: 99999;
	  height: auto;
	  min-width: 300px;
	  .back-to-menu, .sub-head {
		display: none;
	  }
	  li {
		@include d-center;
		margin-bottom: 6px;
		border: 1px solid #221f1f;
		background-color: #ffffff;
		transition: background-color .5s;
		&:hover {
		  background-color: $yellow-main;
		  transition: background-color .5s;
		  a {
			color: $title-color;
		  }
		}
		a {
		  font-size: size(17);
		  line-height: size(25);
		  font-weight: 500;
		  transition: color .5s;
		}
	  }
	}
  }
}
@media (max-width: 650px) {
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .why-item {
	padding: 0 15%;
  }
  .main-cat-col {
	padding: 0 15px;
  }
  .arrows-slider {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  width: size(16);
	  height: size(30);
	}
  }
  .arrows-slider-base {
	[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	  width: size(38);
	  height: size(38);
	}
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .tel-col {
	padding: 0;
  }
  .why-item {
	padding: 0 25%;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  right: -14px;
	}
  }
  .answer-body {
	padding: 0 70px 21px 70px;
  }
  .question-title-q {
	padding: 5px 10px 5px 45px;
  }
  .trigger-item {
	left: 0;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  //.why-item {
	//padding: 0 15%;
  //}
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
  .pop-trigger-text {
	font-size: size(20);
	padding: 20px;
  }
  .answer-body {
	padding: 0 50px 21px 50px;
  }
  .question-title-q {
	padding: 5px 10px 5px 45px;
  }
  .faq-icon {
	min-width: 40px;
	width: 40px;
	padding: 6px;
  }
  .two-columns {
	column-count: 1;
	column-gap: unset;
  }
  .header-logo-col {
	flex: 0 0 60%;
	max-width: 60%;
  }
  .col-ordering, .pad-0 {
	padding: 0;
  }
}
