body{
  text-align: left;
  direction: ltr;
}
$base-size: 20;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	text-align: left;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	text-align: left;
  }
}
.search-form {
  direction: ltr !important;
}
div.wpcf7 input,
div.wpcf7 textarea,
div.wpcf7 select {
  padding-right: 8px;
  background-position: 12px center;
  padding-left: size(44);
}
div.wpcf7 select {
  padding-left: 15px;
  padding-right: size(25);
  background-position: calc(100% - 14px) center;
}
div.wpcf7 input[type="submit"] {
  background-position: calc(100% - 7px) center;
  padding: 0 size(45) 0 8px;
  background-image: url("../iconsall/form-submit-ltr.png");
}
.acceptance-col {
  input[type="checkbox"] {
	margin-right: 6px;
	margin-left: 0;
  }
}
.footer-main {
  div.wpcf7 input[type="submit"] {
	background-image: url("../iconsall/form-submit-white-ltr.png");
  }
}
.base-link {
  padding: 5px size(52) 5px size(27);
  &:after {
	right: 6px;
	left: unset;
	background-image: url("../iconsall/arrow-right.png");
  }
  &:hover {
	&:after {
	  background-image: url("../iconsall/arrow-dark-right.png");
	}
  }
}
.home-about-block .base-link {
  padding: 5px size(54) 5px size(28);
}
.post-link {
  &:after {
	left: unset;
	right: 3px;
	background-image: url("../iconsall/arrow-right.png");
	transition: right .5s;
  }
  &:hover {
	&:after {
	  right: 0;
	  left: unset;
	  transition: right .5s;
	}
  }
}
.q-icon {
  right: unset;
  left: 0;
}
.q-title-body {
  text-align: left;
}
.answer-body {
  background-color: transparent;
  padding: 0 20px 33px size(70);
}
.post-image-wrap {
  float: right;
  margin: 0 0 5% 5%;
}
#go-top {
  right: unset;
  left: 5%;
}
.triggers-col {
  right: 0;
  left: unset;
}
.acceptance-col {
  input[type="checkbox"] {
	margin-left: 0;
	margin-right: 6px;
  }
  span {
	text-align: left;
  }
}
.pop-trigger-text {
  padding: 30px 18px;
}
footer li a:before {
  content: '>';
  padding-left: 0;
  padding-right: 4px;
}
.footer-main {
  div.wpcf7 input[type="submit"] {
	background-image: url("../iconsall/form-submit-white-ltr.png");
  }
}
.base-slider-block {
  .slider-base-item {
	direction: ltr;
  }
}
.post-block-title {
  text-align: left;
}
.post-image-wrap, .post-slider-wrap {
  float: right;
  margin: 0 0 5% 5%;
}
.faq {
  .question-title {
	&:after {
	  right: 20px;
	  left: unset;
	}
  }
}
.woocommerce span.onsale, span.onsale {
  font-style: normal;
  letter-spacing: normal;
  padding: 50px 60px;
  left: unset;
  border-radius: 80%;
  right: -10%;
  direction: ltr;
}
.h-cat-name-wrap {
  &:after {
	left: unset;
	right: 11px;
	background-image: url("../iconsall/arrow-right.png");
  }
}
.woocommerce .woocommerce-ordering select {
  padding: 5px 32px 5px 17px;
  background-size: calc(100% - 18px);
}
.main-block-home .base-link {
  padding: 5px size(69) 5px size(43);
}
.contact-base-title {
  text-align: left;
}
.contact-icon-wrap {
  margin-left: 0;
  margin-right: 20px;
}
.main-title-office {
  margin-right: 0;
  margin-left: 55px;
}
//MEDIA
@media (max-width: 1200px) {
  .pop-trigger-text {
	padding: 30px 15px;
  }
}
@media (max-width: 992px) {
  .header-tel {
	img {
	  margin: 0;
	}
  }
  .pop-trigger-text {
	padding: 20px 12px;
  }
  .logo {
	padding-right: 0;
	padding-left: 50px;
  }
}
@media (max-width: 768px) {
  #MobNavBtn, nav#MainNav {
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  #MobNavBtn {
	right: unset;
	left: 100%;
  }
  nav#MainNav {
	right: unset;
	left: -200px;
  }
  nav#MainNav.active {
	left: 0;
	right: unset;
  }
  .triggers-col {
	right: 0;
  }
  .pop-trigger {
	padding: 0;
  }
}
@media (max-width: 450px) {
  .woocommerce span.onsale, span.onsale {
	padding: 20px 60px 10px;
	left: unset;
	border-radius: 80%;
	right: -15%;
	font-size: 1rem;
  }
}
