@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "partials";
@import "forms";
@import "header-footer";
@import "product";


body{
  font-family: $heebo;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.base-title, .block-title {
  @include base-title;
  color: $title-color;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.block-title {
  @include mid-title;
}
.base-text {
  @include base-text;
  color: $title-color;
}
.base-output {
  * {
	color: $title-color;
  }
  @include base-text;
  h1, h2 {
	@include base-title;
  }
  h3 {
	@include mid-title;
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(24);
	line-height: size(26);
  }
  h6 {
	font-size: size(20);
	line-height: size(22);
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-bottom: size(30);
  }
  p, li {
	@include base-text;
  }
  ul {
	list-style: disc;
	margin: 1rem;
  }
}
.about-output {
  margin-bottom: size(54);
  h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
  }
  p, li {
	line-height: size(24);
  }
}
.post-output {
  p {
	margin-bottom: 50px;
	line-height: size(34);
  }
}
.base-link {
  position: relative;
  @include d-center;
  background-color: $yellow-main;
  height: size(32);
  @include the-20-text;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  border-radius: 15px;
  padding: 5px size(27) 5px size(52);
  transition: color, background-color .5s;
  &:after {
	position: absolute;
	left: 6px;
	content: '';
	@include d-center;
	border-radius: 50%;
	width: size(22);
	height: size(22);
	background-image: url("../iconsall/arrow-left.png");
	background-position: center;
	background-color: $title-color;
	background-size: 8px;
	background-repeat: no-repeat;
  }
  &:hover {
	background-color: $title-color;
	color: $yellow-main;
	transition: color, background-color .5s;
	&:after {
	  background-image: url("../iconsall/arrow-dark-left.png");
	  background-color: $yellow-main;
	  transition: background-color, background-image .5s;
	}
  }
}
.home-about-block {
  .base-link {
	height: size(34);
	font-size: size(22);
	line-height: size(24);
	border-radius: 17px;
	padding: 5px size(28) 5px size(54);
	&:after {
	  width: size(24);
	  height: size(24);
	  background-size: 9px;
	}
  }
}
.main-block-home {
  @include back-img;
  .base-link {
	height: size(43);
	font-size: size(27);
	line-height: size(28);
	border-radius: 22px;
	padding: 5px size(43) 5px size(69);
	&:after {
	  width: size(31);
	  height: size(31);
	  background-size: 13px;
	}
  }
}
.more-link {
  position: relative;
  @include d-center;
  flex-direction: column;
  @include the-20-text;
  margin-bottom: 30px;
  &:after {
	position: absolute;
	top: calc(100% + 7px);
	content: '';
	display: block;
	width: size(19);
	height: size(11);
	background-image: url("../iconsall/arrow-down.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  }
  &.hide {
	display: none;
  }
}
.more-link-cat {
  @include d-center;
  width: size(29);
  height: size(29);
  background-color: $yellow-main;
  border-radius: 50%;
  margin-bottom: 45px;
  &.loading {
	img {
	  display: none;
	}
  }
  img {
	width: size(19);
  }
  &.hide {
	display: none;
  }
}
.pt-cont {
  padding-top: 75px;
}
//Homepage
.videos-block {
  margin: size(100) 0;
}
.dark-home-slider {
  background-color: #1c1c1c;
  .slider-row-reverse {
	flex-direction: row-reverse;
  }
  .base-output * {
	color: #ffffff;
  }
}
.products-block {
  padding: 0 40px;
}
//Post
.post-image-wrap, .post-slider-wrap {
  width: 40%;
  float: left;
  margin: 0 5% 5% 0;
}
.post-image-wrap {
  img {
	width: 100%;
	box-shadow: 7px 2px 20px 1px rgba(0, 0, 0, 0.1);
	border-radius: size(35);
  }
}
.post-block-title {
  text-align: right;
  margin-bottom: 23px;
}
.post-gallery-img {
  @include d-center;
  width: 100%;
  @include back-img;
  border-radius: size(35);
  box-shadow: 7px 2px 20px 1px rgba(0, 0, 0, 0.1);
  &:after {
	content: '';
	display: block;
	padding-bottom: 65.5%;
  }
}
//Shop
.sort-title {
  color: $title-color;
  font-size: size(19);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(16);
  margin-bottom: 9px;
  order: -1;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count, .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  float: unset;
  margin: 0;
}
.col-sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.query-product-list {
  .product-small-card  .woocommerce-loop-product__link {
	padding: 20px 0;
  }
}
.woocommerce .woocommerce-ordering select {
  -webkit-appearance: none;
  min-height: 44px;
  min-width: 210px;
  border-radius: 22px;
  border: 2px solid #1c1c1c;
  background-color: #ffffff;
  padding: 5px 17px 5px 32px;
  background-position: 10px center;
  background-image: url("../iconsall/arrow-down.png");
  background-size: 18px;
  background-repeat: no-repeat;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count, .woocommerce .woocommerce-ordering select {
  font-size: size(19);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(16);
  color: $title-color;
}
.woocommerce-notices-wrapper {
  width: 100%;
}
.woocommerce .woocommerce-ordering {
  order: 2;
}
.woocommerce-page .woocommerce-result-count {
  order: 3;
  margin: 10px !important;
}
.woocommerce nav.woocommerce-pagination ul, .woocommerce nav.woocommerce-pagination ul li, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
  border: unset !important;
  background: none !important;
}
.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
  padding: 0.25rem;
  color: $title-color !important;
  font-size: size(25);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(30);
}
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce nav.woocommerce-pagination ul li a.next {
  font-weight: 700;
}
.shop-category-link {
  @include d-center;
  @include the-20-text;
  font-weight: 400;
  min-height: size(37);
  box-shadow: 0 0 8px rgba(33, 48, 74, 0.24);
  border-radius: 19px;
  background-color: #ffffff;
  text-align: center;
  padding: 3px size(44);
  margin-bottom: 10px;
  transition: background-color, border, font-weight .5s;
  &:hover, &.cat-current {
	color: $title-color;
	background-color: $yellow-main;
	border: 2px solid #050303;
	font-weight: 700;
	transition: background-color, border, font-weight .5s;
  }
}
//Homepage services
.service-item-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.28);
  border-radius: size(35);
  background-color: #ffffff;
  padding: 15px 15px 26px 15px;
  transition: background-color .5s;
  &:hover {
	background-color: $yellow-main;
	transition: background-color .5s;
	.post-img-overlay {
	  opacity: 0;
	}
  }
}
.service-item-img {
  position: relative;
  width: 100%;
  border-radius: size(35);
  @include back-img;
  margin-bottom: 25px;
  overflow: hidden;
  &:after {
	content: '';
	display: block;
	padding-bottom: 75%;
  }
}
.service-title {
  color: $title-color;
  font-size: size(19);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
  text-align: center;
}
.services-slider-block {
  position: relative;
  margin-top: -5.5rem;
  z-index: 111;
  padding: 0 10px;
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
  }
}
.main-home-output {
  h1, h2, h3, h4, h5, h6 {
	text-shadow: 0 3px 16px rgba(0, 0, 0, 0.96);
	color: #ffffff;
	font-style: normal;
	letter-spacing: normal;
	font-weight: 500;
  }
  p, li {
	color: #ffffff;
	@include base-text;
  }
  h1, h2 {
	font-size: size(45);
	font-weight: 700;
	line-height: size(43);
	margin-bottom: size(29);
  }
  h3 {
	font-size: size(39);
	line-height: size(43);
	margin-bottom: size(20);
  }
  h4 {
	font-size: size(30);
	line-height: size(33);
	margin-bottom: size(15);
  }
  h5 {
	font-size: size(25);
	line-height: size(30);
	margin-bottom: size(10);
  }
  h6 {
	font-size: size(20);
	line-height: size(23);
	margin-bottom:5px;
  }
}
.col-content-home {
  padding-bottom: 7rem;
  padding-top: size(200);
}
.why-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
}
.icon-wrap-why {
  height: 160px;
  margin-bottom: size(25);
}
.why-item-title {
  color: $title-color;
  font-size: size(22);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(24);
  text-align: center;
}
.home-about-block {
  margin: 100px 0;
}
.contact-base-title {
  text-align: right;
}
.main-title-office {
  font-size: size(25);
  line-height: size(29);
  font-weight: 700;
  color: $title-color;
  margin-bottom: 25px;
  margin-right: 55px;
}
.contact-page-form {
  div.wpcf7 input, div.wpcf7 textarea, div.wpcf7 select {
	border: 1px solid #221f1f;
  }
}
.col-none-contact {
  display: none;
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 25px;
  &:hover .contact-type {
	color: $yellow-main;
	transition: color .5s;
  }
}
.contact-icon-wrap {
  width: 30px;
  margin-left: 20px;
}
.contact-title, .contact-type {
  color: $title-color;
  font-size: size(23);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  transition: color .5s;
}
.contact-title {
  font-weight: 500;
  margin: 0 5px;
}
.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.contact-worker {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: -10px;
  img {
	max-width: 45%;
  }
}
#breadcrumbs a, span {
  color: $title-color;
  transition: color .5s;
  &:hover {
	color: $yellow-main;
	transition: color .5s;
  }
}
@import "responsive";
